

	</div>
	</div>
	</div>
	</div>
	<div id="footer">
    	<div class="footerframe">
        	<div class="footer-aleph">
        	© Aleph Zero Research 2015<br />
            Theme used based on Karma by <a href="http://www.truethemes.net/">True Themes</a>.
            </div>
            <div class="linkswrap">
                <!--<div class="combined sitedirect">
                    <a href="/">Home</a>
                    <a href="/about/who-we-are/">About</a>
                    <a href="/services/consulting-services/">Services</a>
                    <a href="/blog/">Blog</a>
                    <a href="/contact/">Contact</a>
                </div>-->
                
                <div class="combined socialmediabuttons">
                    <img src="/img/fbicon.png" width="30">
                    <img src="/img/twittericon.png" width="30" />
                    <img src="/img/emailicon.png" width="30" />
                    <img src="/img/googleplusicon.png" width="30" />
                </div>
            </div>
        </div>
   </div>



 </body>
</html>